.cards {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

.slick-slide>div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    /* background: rgb(9, 103, 245); */
    border-radius: 10px;
    background: rgba(63, 148, 234, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(30px) scale(0.5);
    transform-origin: top;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.753);
    
}

.imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
}

.content .details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.content .details h2 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.content .details h2 span {
    font-size: 0.8rem;
    color: #03a9f4;
    font-weight: 400;
}

.sci {
    position: relative;
    display: flex;
    margin-top: 5px;
}

.sci li {
    list-style: none;
    margin: 4px;
}

.sci li a {
    text-decoration: none;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: transparent;
    font-size: 1.5rem;
    color: #fff;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.498);
    border-top: 1px solid rgba(0, 0, 0, 0.315);
}

.slick-dots li.slick-active button:before {
    color: White !important;
}