.d4_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}

.d4_navbar_links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.d4_navbar_links_logo {
    margin-right: 2rem;
}

.d4_navbar_links_logo img {
    width: 70px;}

.d4_navbar_links_container {
    display: flex;
    flex-direction: row;
}

.d4_navbar_joinus {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.d4_navbar_links_container p, .d4_navbar_joinus p, .d4_navbar_menu_container p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.d4_navbar_links_container a, .d4_navbar_joinus a, .d4_navbar_menu_container a {
    color: #fff;
}

.d4_navbar_links_container a:hover ,.d4_navbar_menu_container a:hover {
    padding: 0.5rem;
    color: #fff;
    font-family: var(--font-family);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background: transparent;
    border-bottom:2px solid #ff4820;
}

.d4_navbar_joinus button,
.d4_navbar_menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #ff4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    outline: none;
}
.d4_navbar_joinus button:hover,
.d4_navbar_menu_container button:hover{
    background: transparent;
    border: 2px solid #ff4820;
}
.d4_navbar_menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.d4_navbar_menu svg {
    cursor: pointer;
}

.d4_navbar_menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.d4_navbar_menu_container p {
    margin: 1rem 0;
}

.d4_navbar_menu_container_links_joinus {
    display: none;
}

@media screen and (max-width:1050px) {
    .d4_navbar_links_container {
        display: none;
    }

    .d4_navbar_menu {
        display: flex;
    }
}

@media screen and (max-width:700px) {
    .d4_navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width:550px) {
    .d4_navbar {
        padding: 2rem;
    }

    .d4_navbar_joinus {
        display: none;
    }

    .d4_navbar_menu_container {
        top: 20px;
    }
    .d4_navbar_menu_container_links_joinus{
        display: block;
    }
}